#side-nav-links {
    float: left;
    transition: 400ms;
    margin-left: -240px;
    &.show {
        margin-left: 0px;
    }

    ul {
        text-align: center;
        min-width: 240px;
        
        li:first-child {
            border-top: 1px solid black;
        }

        li {
            border: 1px solid black;
            border-top: 0px;
        }
    }
}